/*-- scss:defaults --*/

/*-- scss:rules --*/
.reveal div.sourceCode {
  border: 0;
}

div.flex {
  display: flex;
  gap: 1em;
}

div.flex > div {
  flex: 1; 
  border-radius: 1rem;
  padding: .5rem 1rem;
}

.flex code {
  color: inherit;
}

.reveal div.flex pre, .reveal div.flex pre code {
  background-color: rgba(0,0,0,0);
}

.reveal div.ast-1 pre, .reveal div.ast-1 pre code {
  background-color: #fcc;
}

.reveal div.ast-2 pre, .reveal div.ast-2 pre code {
  background-color: #aff;
}
